html {
  background-image: url(1511.jpg);
  background-size: cover;
  background-repeat: space;
  text-align: center;
  height: 800px;
  width: auto;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-top: -10px;
  width: inherit;
  height: auto;
  background-color: #125E8A;
  box-shadow: 2px 4px 3px #183446;
  border-radius: 5px;
}
.menu, footer, .cocontact, .form, .quest, h2 {
  font-family: 'Ubuntu', sans-serif;
}
.menu a {
  margin: 5px;
}
.menu {
  padding: 10px;
  position: relative;
  float: right;
  margin-top: 10px;
}
.name {
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  margin: -10px auto;
  float: left;
}
a {
  color: black;
}
a:hover {
  color: white;
  text-shadow: 1px 1px 2px #183446;
}
a:active {
  color: #022F40;
}
section {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  min-width: 160px;
  max-width: 700px;
  height: auto;
  margin: 20px auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 4px 3px #183446;
}

.about {
  font-family: Arial, sans-serif;
  position: static;
  width: 300px;
  margin: 10px auto 10px auto;

}
.about p {
  font-size: 15px;
  padding: 10px;
}

.myphoto {
  height: 200px;
  width: 200px;
  border-radius: 120px;
  box-shadow: 3px 3px 4px #183446;
  margin: 100px 50px;
  -webkit-transition: .5s ease-out; /*for safari*/
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: auto;
}

.myphoto:hover {
  position: sticky;
  height: 250px;
  width: 250px;
  border-radius: 150px;
  box-shadow: 1px 1px 2px #183446;
  margin: 80px 25px;

}

.cocontact, .opinion {
  margin-top: 50px;
  margin-left: 30px;
  text-align: right;
  width: 300px;
  padding: 10px;
}

.quest {
     text-align: left;
     font-size: 14px;
}
.drop1 {
     color: black;
     display: none;
     min-width: 160px;
     max-width: auto;
     padding: 10px;
     border-radius: 5px;
     box-shadow: 0px 8px 16px 0px #183446;
     z-index: 1;
}

.q1 {
      position: relative;
      cursor: pointer;
}
.q1:hover .drop1 {
    display: block;
    position: absolute;
    margin-left: 20px;
    background-color: #125E8A;
    padding: 20px;

}

.q1:hover {
    font-size: 120%;
    text-decoration: underline;
    color: #125E8A;
}
